{{ define "head" }}
  {{ partial "gallerydeluxe/head.html" . }}
{{ end }}

{{ define "main" }}
  <span class="logo-text" href="{{ site.Home.RelPermalink }}">
    nils.photos <a class="logo-text-link logo-text-small" href="https://nalsai.de">(nalsai.de)</a>
  </span>
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
  {{ $params := site.Params.gallerydeluxe }}
  <div id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
  </div>
{{ end }}
